*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 85vh 10vh;
  grid-template-columns:
    [full-start]
    minmax(4rem, 1fr)
    repeat(15, [col-start] minmax(min-content, 8rem) [col-end])
    minmax(4rem, 1fr)
    [full-end];
}
