*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  background: linear-gradient(to right, #ed213a, #93291e);
  display: grid;
  grid-template-rows: 80vh auto;
  grid-template-columns:
    minmax(4rem, 1fr)
    [sidebar-start]
    minmax(10rem, 16rem)
    [sidebar-end full-start]
    repeat(15, [col-start] minmax(min-content, 7rem) [col-end])
    minmax(4rem, 1fr)
    [full-end];
}
