.board {
  grid-column: full-start / full-end;

  border: 1rem solid $color-black;
  background: $color-grey-light-1;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
