.board {
  grid-column: col-start 1 / col-end 15;

  padding: 2rem;
  background: rgb(236, 228, 228);

  display: grid;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
