.checker {
  &__field {
    position: relative;
    border: 1px solid black;
  }

  &__field:nth-child(even) {
    background: #dddddd;
  }

  &__field:nth-child(odd) {
    background: #858080;
  }

  background: rgb(205, 30, 30);
  width: 50%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: grab;
  border: 0.5rem solid rgb(225, 0, 0);

  &--black {
    background-color: black;
    border: 0.5rem solid rgb(49, 48, 48);
  }
}

.active {
  border: 3px solid white;
}
