.checker {
  &__field {
    position: relative;
    border: 1px solid black;
  }

  &__field:nth-child(even) {
    background: rgb(253, 243, 243);
  }

  &__field:nth-child(odd) {
    background: rgb(174, 165, 165);
  }

  width: 60%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: grab;

  &--black {
    background-color: black;
  }
}

.active {
  border: 3px solid black;
}
