.choice {
  grid-column: sidebar-start / sidebar-end;

  padding: 1rem;
  background: $color-grey-light-2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @include respond(tab-port) {
    flex-direction: row;
  }

  &__item {
    width: 70%;
    position: relative;
    padding-bottom: 70%;
    border: none;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(to right, #52c234, #379315);

    color: $color-white;
    transition: all 0.3s;
    cursor: pointer;

    @include respond(tab-port) {
      width: auto;
      padding: 2rem;
      border-radius: 0%;
    }

    @include respond(phone) {
    }

    &:focus {
      outline: none;
    }

    &:hover {
      animation: hoverEffect 0.5s ease-in;
      background: linear-gradient(to right, #f00000, #dc281e);
    }

    &:active {
      opacity: 0.8;
      transform: translateY(-0.5rem);
    }
  }

  &__text {
    font-weight: 300;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
      position: static;
    }
  }
}

@keyframes hoverEffect {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
