.choice {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  background: rgb(236, 228, 228);
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @include respond(tab-port) {
    flex-direction: row;
    grid-row: 1 / span 1;
  }

  &__item {
    width: 80%;
    text-align: center;
    position: relative;
    padding-bottom: 80%;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    background: linear-gradient(to right, #76b852, #8dc26f);

    margin: 1rem 0;
    color: $color-white;

    transition: all 0.3s;
    cursor: pointer;

    @include respond(tab-port) {
      width: 8%;
      padding: 8%;
    }

    @include respond(phone) {
      width: 12%;
      padding: 12%;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      animation: hoverEffect 0.5s ease-in;
      background: linear-gradient(to right, #f00000, #dc281e);
    }

    &:active {
      opacity: 0.8;
      transform: translateY(-0.5rem);
    }
  }

  &__text {
    font-weight: 300;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes hoverEffect {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
