.player {
  grid-column: sidebar-start / full-end;

  padding: 1rem;
  background: rgb(232, 222, 232);

  &__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__stat {
    font-size: 2rem;
  }

  &__name {
    text-align: center;
    color: rgb(255, 0, 0);

    &--black {
      color: black;
    }
  }

  &__turn {
    color: rgb(255, 0, 0);
    font-size: 2rem;

    &--black {
      color: $color-black;
    }
  }
}
